/*global*/
*{
    margin:0;
    padding:0;
}

:root {
    --grey: #F5F5EF;
    --button: rgb(214, 131, 21);
}

body{
    font-family: "Montserrat", sans-serif;
}

p{
    line-height: 2;
}

a{
    text-decoration: none;
    color:white;
}

h1 {
    margin-top: 20px;
    font-size: 34px;
}
h2 {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 5px;
}
h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

img{
    max-width: 100%;
}

a:hover{
    text-decoration: underline;
}




/*utilities*/




/*top menu section*/
header.site-init{
    background-image: url(./image/header.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    color:white;
    display:flex;
    justify-content:space-around;
    max-width: 100%;
}

/* Small devices (large phones breakpoint, "600"px up)-header*/
@media(max-width:600px){
    header.site-init{
        display: block;
        background-size: cover;
        height: 350px;
        color:rgb(255, 255, 255);
        text-align: center;
        padding: 20px;

    }
}

.hearderText{
    flex-direction: coulmn;
    align-items: stretch;
}

.hearderText h3{
    padding-bottom: 30px;
    line-height: 0px;
}

.menu{
    margin-top: 30px;
    word-spacing: 10px;

}


/* Small devices (large phones breakpoint, "600"px up)-menu*/
@media(max-width:600px){
    .hearderText h3{
        margin-bottom: 20px;
        opacity: .5;
        font-size: 20px;
        padding: 10px;
    }
    .menu{
        font-size: 18px;
        font-weight: 500;
        padding-top: 15px;
        word-spacing: 30px;
    }
}




/*blog page*/
.blog{
    background-color: black;
    background-position: top;
    background-size: cover;
    height: 100px;
    color:white;
    display:flex;
    max-width: 100%;

}

.top-bar{
    display: inline-block;
    margin-left: 50px;
    margin-right: 60%;


}

.btn-blog{
    background-color: #e6d2b5;
    background-size:10px;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 26px;
    margin-top: 20px;
    display: block;
    align-items: center;
    text-align: center;

}

.bar-menu{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}


/*body*/

.content-container {
    display:flex;
    margin-top:10px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Small devices (large phones breakpoint, 600px up)-body headaer*/
@media(max-width:600px){
    .content-container {
        margin-top:10px;
        padding-left: 10%;
        padding-right: 10%;

    }
    .container h1{
        text-align: center;
        font-size: 10;
        font-family: Arial;
        padding-bottom: 10px;
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        color: transparent;
        background-clip: text;
    }
    .content-container img{
        max-width: 3rem;
        max-height: 10rem;
    }
    .mobile-icon {
        display: flex;
    }

    .content-container h3{
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        background-clip: text;
        padding: 20px;
    }
    .content-container p{
        display:none;
    }
}



/*penthouse section*/
.houses-container {
    display:flex; 
    justify-content: space-evenly;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Small devices (large phones breakpoint, 600px up)-penthouse section*/
@media(max-width:600px){
    .container h2{
        text-align: center;
        padding:0px;
        padding-bottom: 10px;

    }

    .houses-container {
        
        flex-direction: column;
        align-items: flex-start;
        width: 700px;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 0px;
        padding: 0px;

    }
    .houses-item {
        animation: fadeIn 3s;
        box-shadow: 0 0 0 6px rgb(199, 204, 252); 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display:flex;
        border-spacing: 3px solid #328BE9;
        flex-direction: column;
        max-width: 90%;
        background-color: #ffffff;
        height: 850px;
        padding: 0px;
    }
    .houses-item-text {
        padding: 0px;
    }

    .houses-item-text h3{
        font-size: 20px;
        padding: 0px;
    
    }
    
    .houses-item-img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 90%;
        height: 80px;
        padding: 0px;

    }
    
    .houses-content p{
        text-align: left;
        padding: 0px;
    }

    .icon-container {
        padding: 0px;
    }
    
    .price {
        color: green;
        font-weight: bold;
        margin-left: 5px;
    }
    .btn {
        display: inline-block;
        font-size: 20px;
        background: 5px rgb(214, 131, 21);
        color:white;
        background: linear-gradient(0deg, rgba(120, 171, 238, 0.685) 0%, rgb(1, 27, 37) 100%);   
        border-radius: 5px;
        width: 410px;
        height: 30px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .btn:hover {
        background: rgb(64, 65, 99);
        background: linear-gradient(0deg, rgb(5, 5, 10) 0%, rgb(7, 49, 92) 100%);
    }
    .front-footer-content {
        display: inline-block;
        background-color: black;
        opacity: 0.5;
        background-position: cover;
        background-size: cover;
        height: 300px;
        margin-top:20px;
        max-width: 100%;

    }
    
    .front-footer-text {
        max-width: 1000px;
        color:rgb(255, 255, 255);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        flex-direction: column;
    }

    .btn-contact {
        font-size: 20px;
        background-position: cover;
        color:rgb(0, 0, 0);
        background: rgb(255, 255, 255);   
        border-radius: 5px;
        width: 500px;
        height: 20px;
        margin-left: 20px;
        margin-right: 10px;
        text-align: center;

    }    

}




.houses-item {
    display:flex;
    flex-direction: column;
    max-width: 70%;
    border:2px solid#ccc;
    background-color: #e4e8ebd0;

}


.houses-item-img {
    width: 500%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
}

.houses-item-text {
    padding: 25px;
}

.houses-item-text h3{
    font-size: 26px;
    padding: 3px;
}
.price {
    color: green;
    font-weight: bold;
}

.icons-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.icon-container {
    padding: 5px;
    display: flex;
    justify-content: center;
}
.icon-container img {
    padding: 10px;
}
.icon-container span {
    margin-top: 5px;
}

.btn {
    font-size: 20px;
    background-color: rgb(214, 131, 21);
    color:white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.btn:hover {
    transform: scale(0.9);
}



/*Blog-page content section */
.content-section{
    padding-top: 20px;;
    padding-bottom: 30px;
    text-wrap: wrap;
    padding: 10px;

}

.content-block{
    max-width: 1000px;
    display: flex;
    background-color: #ececea; 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(168, 167, 167);
    

}
.content-block img{
    height: 400px;
    width: 600px;
    display:block;
    text-align: left;
    flex-direction: column;
    flex-basis: 30%;
}
.content-block h3,p{
    padding-left: 20px;
    text-wrap: wrap;
    padding-bottom: 20px;;
}

.read {
    margin-left: 20px;;
    padding: 10px;
    background-color: var(--button);
    color:#ffffff;
    border:0px;
}
.read:hover{
    box-shadow: 0px 0px 70px 10px #6e5e4e;
    background: linear-gradient(0deg, rgb(95, 71, 25) 0%, rgb(218, 91, 33) 100%);
}
.footer-content{
    text-align: left;
    height:200px;
    padding: 30px;
}

/*About-us content section */
.btn-blog-about{
    text-align: center;
    text-transform: uppercase;
    position: relative;
	animation: fadeIn 1s ease-in both;
}
.about-content {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 2;
		transform: translate3d(0, 0, 0);
	}
}

.about-meet h1{
    text-align: center;
    animation: fadeOut 3s ease-in both;
}
@keyframes fadeOut {
    from {
    opacity: 0;
    transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}

.team-section{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-evenly;
    padding: 30px;
}

.person-intro {
    box-shadow: 0px 0px 60px 15px #948484c7;
    border: #867575;
    width: 330px;
    line-height: 1px;
    background-color: #ececea; 
    animation: fadeOut 3s ease-in both;
    
}

.person-image {
    min-width: 330px;
    height: 250px;
    display: flex;
    background-color: #ececea; 
    border: 1px solid rgb(168, 167, 167);
}
.person-intro h3{
    text-indent: 15px;
    line-height: 16px;
} 
.person-intro p{
    line-height: 16px;
    display: inline-block;
} 
.phone{
    color:green;
    font-weight: bold;
}

.socal-icons{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    gap:5px;
}

.socal-icons img{
    display: flex;
    height: 20px;
    margin-bottom: 10px;
}

.btn-learn {
    margin-left: 20px;;
    background-color: rgb(41, 39, 39);
    color:#ffffff;
    border:0px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}
.btn-learn:hover {
    box-shadow: 0px 0px 60px 5px #46433c;
    background: linear-gradient(0deg, rgb(5, 5, 10) 0%, rgb(7, 49, 92) 100%);
}



/*contact*/
.contact-header{
    background-color: orange;
    height:150px;
    color:black;
    padding:30px;

}


.contact-header a{
    color:black
}

.contact-menu{
    word-spacing: 10px;
}

.contact-container{
    width: 70%;
    margin: 0 auto;
}
.contact-container h1{
    text-align: center;
    padding: 10px;
}

.contact-container h3{
    text-align: center;
}
.contact-container p{
    text-align: center;
}

.form-container{
    background-color: #dedede;
    padding:20px;
    border-radius:10px;
}

legend{
    font-size: 16px;
    display: flex;
}

fieldset{
    border:1pm solid gray;
    padding:30px;
    border: radius 10px;
    margin-bottom: 20px;
}

label{

    display: inline-block;
    width: 30%;
    padding: 10px;
}

input{
    margin-top: 10px;
    width: 60%;
    height: 25px;
}

textarea{
    margin-top: 10px;
    width: 60%;
    height: 45px;
}

select{
    width: 60%;
    height: 25px;
}

.selection{
    justify-content: space-around;
    width: 40%;
}

.contact-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:25px;
    gap:50px;
    height: 25px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 50px;
}





/*form footer*/
footer{
    margin-top: 40px;
    background-color: #ccc;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer a{
    color: black;
    font-weight: bold;
    text-decoration: solid underline;
}

footer p{
    display: inline;
}



/*front page footer*/
.front-footer-content {
    background-image: url(./image/announcement6.jpg);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top:20px;
    max-width: 100%;

}

.front-footer-text {
    max-width: 1000px;
    color:white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;


}

.btn-contact {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color:white;
    background: rgb(255, 136, 1);   
    border-radius: 5px;
    width: 500px;
    height: 40px;
    padding-top:20px;
    text-align: center;
}
.btn-contact:hover {
    box-shadow: 0px 0px 40px 10px #947f6a;
    background: linear-gradient(0deg, rgb(138, 102, 36) 0%, rgb(218, 91, 33) 100%);
}