* {
margin:0;
padding:0; 
}

.header{
background-color: coral;
height:100px;
}

.aside-left{
    background-color: yellow;

}

.content {
    background-color: skyblue;
    min-height: calc(100vh - 160px);
}

.aside-right{
    background-color: pink;
    width: 50%;
}


.footer{
    background-color: lightgreen;
    width:50%;
}

.flex-container{
    display:flex;
    height:40%;
}









/*destop first*/
@media (max-width: 768px){
    body {
        background-color:tomato;
        color:white;

    }
}

@media (max-width: 768px){
    .header {
        background-color: rgb(187, 21, 209);
        text-align: center;
    }
}

@media (max-width: 768px){
    .aside-left {
        display:none;
    }
}

@media (max-width: 768px){
    .aside-left {
        display:none;
    }
}


@media (max-width: 768px){
    .content {
        min-height: 250px;
    }
}

@media (max-width: 768px){
    .flex-container {
        background-color: cover;
        flex-direction: column;
        width:100vw;
    }
}

@media (max-width: 768px){
    .aside-right {
        width:100%;

    }
}
@media (max-width: 768px){
    .footer {
        width:100%;
    }
}

/**/
@media (max-width: 500px){
    .header{
        background-color: darkblue;
    }
}